.search{

    background-color: #fffafa;
    width: 20%;
    display: inline-block;
    height:100%;
    /* position:fixed;
    left:0px;
    top:0px; */
}
.keyword{

    display: block;


}
.list{

    cursor:pointer;
}